.login_form_input_title {
    display: inline-block;
    margin-top: 25px;
    font-size: .9rem;
    font-weight: 600;
    color: var(--jb-black-5);
}

.login_page_form_input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    margin: 5px 0px 0px 0px;
    padding: 15px 8px;
    font-size: .960rem;
    color: var(--jb-black-5);
    border: 1px solid var(--jb-border-4);
    background-color: transparent;
    transition: 0.4s all ease-in-out;
}

.login_page_form_input:focus {
    border: 1px solid var(--jb-highlight-border);
}

.login_page_form_input::placeholder {
    font-size: .950rem;
    font-weight: 500;
}

.login_form_input_error {
    margin-top: 5px;
    font-size: 12px;
    color: var(--jb-error-color);
}
