:root {
  font-family: "Open Sans", sans-serif;

  --jb-highlight-background: #F4F5F6;
  --jb-highlight-dark: #3856AE;
  --jb-highlight-light: #E3E7F5;
  --jb-border-5: #e6e6e7;
  --jb-border-4: #c5c5c6;
  --jb-highlight-border: #3856AE;
  --jb-black-5: #373738;
  --jb-white-5: white;

  --jb-btn-disabled: rgb(166, 166, 166);

  --jb-error-border: rgb(171, 3, 3);
  --jb-error-color: rgb(171, 3, 3);
}

* {
  box-sizing: border-box;
  margin: 0px;
  transition: 0.3s all ease-in-out;
}
